<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fuwu.mobileim"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" >
    </uses-permission>
    <!-- 在SDCard中创建于删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 在SDCard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="getui.permission.GetuiService" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 可选权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 自定义权限 -->
    <permission
        android:name="getui.permission.GetuiService"
        android:protectionLevel="normal" />
    <!-- 判断应用运行状态 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 手机震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.fuwu.mobileim.util.FxApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.fuwu.mobileim.activity.MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.fuwu.mobileim.activity.TalkActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.fuwu.mobileim.activity.AddressBookActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.fuwu.mobileim.activity.SettingsActivity"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.fuwu.mobileim.activity.ContactActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.fuwu.mobileim.activity.LoginActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fuwu.mobileim.activity.BlockManagementActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.fuwu.mobileim.activity.BlockManagementDisplayActivity"
            android:theme="@style/Dialog" />
        <activity
            android:name="com.fuwu.mobileim.activity.RegistActivity"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.fuwu.mobileim.activity.BackPwdActicity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.fuwu.mobileim.activity.SystemPushActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.fuwu.mobileim.activity.UpdatePwdActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.fuwu.mobileim.activity.MyInformationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.fuwu.mobileim.activity.ChatActivity"
            android:launchMode="singleTop" />

        <service android:name="com.fuwu.mobileim.activity.RequstService" />

        <activity
            android:name="com.fuwu.mobileim.activity.FragmengtActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.fuwu.mobileim.activity.ResetPasswordActicity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.fuwu.mobileim.activity.PushSettingActivity"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.fuwu.mobileim.activity.WelcomeActivity"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.fuwu.mobileim.activity.AgreementActivity"
            android:launchMode="singleTop" >
        </activity>
        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="MGxQXR8hjI9HtfSmrp7fi1" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="U7PrqaZPde9rzwt0a56ID7" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="arv1v49y2N6eshBuftq7D8" />
        <meta-data
            android:name="PUSH_GROUPID"
            android:value="" />

        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" >
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- 配置弹框activity -->
        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false" >
            <intent-filter>

                <!-- 这个com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4固定，不能修改 -->
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <!-- android:name="com.igexin.sdk.action.第三方的appId" -->
                <action android:name="com.igexin.sdk.action.MGxQXR8hjI9HtfSmrp7fi1" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />

        <!-- 个推download模块配置 -->
        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver
            android:name="com.igexin.download.DownloadReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.com.fuwu.mobileim"
            android:process=":pushservice" />
        <!-- android:authorities="downloads.第三方包名" -->
        <!-- ====================================================== -->
        <receiver
            android:name="com.fuwu.mobileim.util.PushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.MGxQXR8hjI9HtfSmrp7fi1" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.fuwu.mobileim.activity.SettingPhoto"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
    </application>

</manifest>