<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fuwu.mobileim"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" >
    </uses-permission>

    <application
        android:name="com.fuwu.mobileim.util.FxApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.fuwu.mobileim.activity.ChatActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.fuwu.mobileim.activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.fuwu.mobileim.activity.TalkActivity" />
        <activity android:name="com.fuwu.mobileim.activity.AddressBookActivity" />
        <activity android:name="com.fuwu.mobileim.activity.SettingsActivity" />
        <activity android:name="com.fuwu.mobileim.activity.ContactActivity" />
        <activity android:name="com.fuwu.mobileim.activity.LoginActivity" >
            
        </activity>
        <activity android:name="com.fuwu.mobileim.activity.BlockManagementActivity" >
        </activity>
        <activity android:name="com.fuwu.mobileim.activity.BlockManagementDisplayActivity" 
            android:theme="@style/Dialog">
        </activity>
        <activity android:name="com.fuwu.mobileim.activity.RegistActivity" />
        <activity android:name="com.fuwu.mobileim.activity.BackPwdActicity" />
    </application>

</manifest>